<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ViMagento\HelloWorld\Block\Newproduct">
        <plugin name="ViMagento_HelloWorld::productName"
                type="ViMagento\HelloWorld\Plugin\Catalog\ProductAround" sortOrder="1" disabled="false"/>
    </type>
</config>
